<!DOCTYPE html>
<html>

<head>
    <title>Java Flights</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: lightgoldenrodyellow;
            color: darkgoldenrod;
        }
    </style>
</head>

<body>

    <h1>Login</h1>
    <p>Please enter your account credentials</p>
    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" id="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

        <button onclick="validateUser()">Login</button>
        <button onclick="register()">Register</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>

    <!--
         <script src="scripts.js"></script>
    Scripts file isn't refreshing in devtools. Moving scripts to tags below for now
 -->

    <script>
        async function registerUser() {
            console.log("registerUser()");
            alert("registerUser()");
            //call this endpoint
            // http://localhost:8080/security/register?uname=default&pass=password
        }

        async function validateUser(uname = "", pass = "") {
            console.log("We are in validateUser method");
            alert("validateUser");
            uname = document.getElementById("uname").value;
            alert("User entered" + uname + " and " + pass);
        }
    </script>

</body>

</html>